:root {
  --primary-color1: #B63221;
  --primary-color2: #3F8005;
  --text-color: #464646;
  --white-one: #fff;
  --white-two: #f4f4f4;
  --black-one: #333;
  --black-two: #212529;
  --font-serif: 'Montserrat serif';
  --font-sans-serif: 'Montserrat sans-serif';
  --body-font-serif: "Poppins serif";
  --body-font-sans-serif: "Poppins sans-serif";
  --hover: #B63221;
  --btn-color: #425550;
  // --button-color
  // --primary-heading-size
}

h1, h2, h3, h4, h5, h6  {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0.9rem;
}

p {
  color: #333333;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-md {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.end {
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 31px 0;  
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  padding: 31px 0;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 991px) {
    max-width: 84rem;
    padding: 31px 3rem;
  }
}

.flex-med {
  flex: 0 0 90%;
  padding: 0 20px;

  @media only screen and (min-width: 1024px) {
    flex: 0 0 28.533333%;
  }
}
