:root {
  --primary-color1: #B63221;
  --primary-color2: #3F8005;
  --text-color: #464646;
  --white-one: #fff;
  --white-two: #f4f4f4;
  --black-one: #333;
  --black-two: #212529;
  --font-serif: 'Montserrat serif';
  --font-sans-serif: 'Montserrat sans-serif';
  --body-font-serif: "Poppins serif";
  --body-font-sans-serif: "Poppins sans-serif"
  // --button-color
  // --primary-heading-size
}